
@if (!uploadComplete)
{
    <div class="my-component">
        <InputFile OnChange="HandleSelection" />
    </div>
}
else if (ShowResetButton)
{
    <button class="@ButtonClassName" @onclick="Reset">@ResetButtonText</button>
}

@if ((ShowStatus) && (HasStatus))
{
    <p>@status</p>
}

