@using System.IO
@using BlazorInputFile

<div class="my-component">
    <InputFile OnChange="HandleSelection" />
</div>

@if (ShowStatus)
{
    <p>@status</p>
}

@code {

    string status;


    async Task HandleSelection(IFileListEntry[] files)
    {
        // local
        UploadedFileInfo uploadedFileInfo = null;

        var file = files.FirstOrDefault();
        if (file != null)
        {
            try
            {
                // the partialGuid is need to ensure uniqueness
                string partialGuid = Guid.NewGuid().ToString().Substring(0, PartialGuidLength);

                // create the uploadedFileInfo
                uploadedFileInfo = new UploadedFileInfo(file, partialGuid);

                // if the file is too large
                if (file.Size > MaxFileSize)
                {
                    // Show the FileTooLargeMessage
                    status = FileTooLargeMessage;

                    // Upload was aborted
                    uploadedFileInfo.Aborted = true;
                    uploadedFileInfo.ErrorMessage = FileTooLargeMessage;
                    uploadedFileInfo.Exception = new Exception("The file uploaded was too large.");
                }
                else
                {
                    // Just load into .NET memory to show it can be done
                    // Alternatively it could be saved to disk, or parsed in memory, or similar
                    var ms = new MemoryStream();
                    await file.Data.CopyToAsync(ms);

                    using (FileStream fileStream = new FileStream(Path.Combine(UploadFolder, file.Name + "." + partialGuid), FileMode.Create, FileAccess.Write))
                    {
                        ms.WriteTo(fileStream);
                    }

                    // if there is a CustomSave
                    if (!String.IsNullOrWhiteSpace(CustomSuccessMessage))
                    {
                        // Show the CustomSuccessMessage
                        status = CustomSuccessMessage;
                    }
                    else
                    {
                        // set the status
                        status = $"Saved file {file.Size} bytes from {file.Name}";
                    }
                }
            }
            catch (Exception error)
            {
                // Upload was aborted
                uploadedFileInfo.Aborted = true;

                // Store the Exception
                uploadedFileInfo.Exception = error;

                // if a CustomErrorMessage is set
                if (!String.IsNullOrWhiteSpace(CustomErrorMessage))
                {
                    // Show the custom error message
                    status = CustomErrorMessage;
                }
                else
                {
                    // show the full error
                    status = error.ToString();
                }

                // set the error message
                uploadedFileInfo.ErrorMessage = status;
            }
            finally
            {
                // Notify the caller the upload was aborted due to an error 
                FileUploaded(uploadedFileInfo);
            }
        }
    }

    private void FileUploaded(UploadedFileInfo uploadedFileInfo)
    {
        // Notify the client a file was uploaded
        OnChange.InvokeAsync(uploadedFileInfo);
    }

    [Parameter] public EventCallback<UploadedFileInfo> OnChange { get; set; }

    [Parameter]
    public bool ShowStatus { get; set; } = true;

    [Parameter]
    public int PartialGuidLength { get; set; } = 12;

    [Parameter]
    public string UploadFolder { get; set; } = "wwwroot/Upload/";

    [Parameter]
    public string CustomSuccessMessage { get; set; } = "";

    [Parameter]
    public long MaxFileSize { get; set; } = 0;

    [Parameter]
    public string FileTooLargeMessage { get; set; } = "The file uploaded is too large";

    [Parameter]
    public string CustomErrorMessage { get; set; } = "An error occurred uploading your file.";

}


