@page "/"
@using DataJuggler.Blazor.FileUpload
@using DataJuggler.UltimateHelper
@using DataJuggler.UltimateHelper.Objects
@using Microsoft.AspNetCore.Components.Forms

<h3>Sample 1 - Standard Input File Button</h3>

<div>
    <FileUpload CustomSuccessMessage="Your file uploaded successfully." OnChange="OnFileUploaded"
        ShowStatus="false"  PartialGuidLength="10" MaxFileSize="4194304" FilterByExtension="true"
        AllowedExtensions=".jpg,.png" ShowResetButton="true" OnReset="OnReset" 
        CustomExtensionMessage="Only .jpg and .png files are allowed." AppendPartialGuid="true"
        Visible="true" FileTooLargeMessage="The file uploaded must be 4 megabytes or smaller.">
    </FileUpload>
</div>

<div class="height48"></div>

<h3>Sample 2 - Default Custom Button</h3>

<div class="customupload">
    <FileUpload CustomSuccessMessage="Your file uploaded successfully." OnChange="OnFileUploaded"
        Visible="false" ShowStatus="false"  PartialGuidLength="10" MaxFileSize="4194304" 
        FilterByExtension="true" ShowCustomButton="true" ButtonText="Select File"
        CustomButtonClassName="buttonwide" AllowedExtensions=".jpg,.png" ShowResetButton="true"
        OnReset="OnReset" ResetButtonClassName="button" ResetButtonText="Reset"
        CustomExtensionMessage="Only .jpg and .png files are allowed." AppendPartialGuid="true"
        FileTooLargeMessage="The file uploaded must be 4 megabytes or smaller.">
    </FileUpload>
</div>

<br />
@status

<br />
<h3>Sample 3 - Memory Stream Example</h3>

Select the Xml file located in the Xml folder of this project. <br />

<div class="customupload">
    <FileUpload CustomSuccessMessage="Your file uploaded successfully." OnChange="OnFileUploaded2"
        Visible="false" ShowStatus="false"  PartialGuidLength="10" MaxFileSize="4194304" 
        FilterByExtension="true" ShowCustomButton="true" ButtonText="Select File" 
        CustomButtonClassName="buttonwide" AllowedExtensions=".xml" ShowResetButton="true"
        OnReset="OnReset" SaveToDisk="false" ResetButtonClassName="button" ResetButtonText="Reset"
        CustomExtensionMessage="Only .xml files are allowed." AppendPartialGuid="true"                
        FileTooLargeMessage="The file uploaded must be 4 megabytes or smaller.">
    </FileUpload>
</div>

@if  (HasLines)
{
    <div class="xml">
        @foreach (XmlLine line in Lines)
        {
            @if (line.Indent)
            {
                <div class="indent">
                    @line.Text
                </div>
            }
            else
            {
                <div class="indentnone">
                    @line.Text
                </div>
            }
        }
    </div>
}


<br /><br />

<div class="sampleprojectinfo">
    I have a new File Upload sample project: <br />
    <b>Video</b>
    <a href="https://youtu.be/3xKXJQ4qThQ" target="_blank"><div class="videocover"></div></a>

    <div class="moveup64">
        <a href="https://datajugglerblazor.blogspot.com/2020/02/building-blazor-image-gallery-complete.html" target="_blank">
            Complete Step By Step Tutorial Blog
        </a><br />

        <a href="https://github.com/DataJuggler/BlazorImageGallery" target="_blank">
            Blazor Image Gallery Source Code on Git Hub
        </a><br /><br />

        If you think this project is worth the price of free, please star it and / or subscribe to my YouTube channel.
    </div>
    <div class="height48"></div>
</div>


@code
{
    // All the code is now the Index.razor.cs file. Expand the node in Solution Explorer for
    // Index.razor, and this will show you Index.razor.cs, or right click this file and select
    // Go To PageModel.

    // If you have any comments or questions, please create an issue on Git Hub as I do mind questions
    // and I welcome any feedback or ways to make it more reusable for other people.
}
