@page "/"
@using DataJuggler.Blazor.FileUpload

<h3>Sample 1 - Standard Input File Button</h3>

<div>
    <FileUpload CustomSuccessMessage="Your file uploaded successfully." OnChange="OnFileUploaded"
        ShowStatus="false"  PartialGuidLength="10" MaxFileSize="4194304" FilterByExtension="true"
        AllowedExtensions=".jpg;.png;" ShowResetButton="true" OnReset="OnReset" 
        CustomExtensionMessage="Only .jpg and .png files are allowed." AppendPartialGuid="true"                
        FileTooLargeMessage="The file uploaded must be 4 megabytes or smaller.">
    </FileUpload>
</div>

<div class="height48"></div>

<h3>Sample 2 - Default Custom Button</h3>

<div class="customupload">
    <FileUpload CustomSuccessMessage="Your file uploaded successfully." OnChange="OnFileUploaded"
        ShowStatus="false"  PartialGuidLength="10" MaxFileSize="4194304" FilterByExtension="true" 
        ShowCustomButton="true" ButtonText="Select File" CustomButtonClassName="buttonwide"        
        AllowedExtensions=".jpg;.png;" ShowResetButton="true" OnReset="OnReset" 
        ResetButtonClassName="button" ResetButtonText="Reset"
        CustomExtensionMessage="Only .jpg and .png files are allowed." AppendPartialGuid="true"                
        FileTooLargeMessage="The file uploaded must be 4 megabytes or smaller.">
    </FileUpload>
</div>

<br />
@status


@code
{
    // All the code is now the Index.razor.cs file. Expand the node in Solution Explorer for
    // Index.razor, and this will show you Index.razor.cs, or right click this file and select
    // Go To PageModel.

    // If you have any comments or questions, please create an issue on Git Hub as I do mind questions
    // and I welcome any feedback or ways to make it more reusable for other people.
}
