@page "/"
@using DataJuggler.Blazor.FileUpload

<h3>File Upload Test</h3>

<div class="fileuploader">
    <FileUpload CustomSuccessMessage="Your file uploaded successfully." OnChange="OnFileUploaded"
                PartialGuidLength="10" MaxFileSize="4194304" FilterByExtension="true" AllowedExtensions=".jpg;.png;"
                CustomExtensionMessage="Only .jpg and .png files are allowed."
                FileTooLargeMessage="The file uploaded must be 4 megabytes or smaller."></FileUpload>
    @status
</div>


@code
{
    // test
    string status;

    private void OnFileUploaded(UploadedFileInfo uploadedFileInfo)
    {
        // if aborted
        if (uploadedFileInfo.Aborted)
        {
            // get the status
            status = uploadedFileInfo.ErrorMessage;
        }
        else
        {
            // get the status
            status = "The file " + uploadedFileInfo.Name + " was uploaded.";

            // other information about the file is available
            DateTime lastModified = uploadedFileInfo.LastModified;
            string nameAsItIsOnDisk = uploadedFileInfo.NameWithPartialGuid;
            string partialGuid = uploadedFileInfo.PartialGuid;
            long size = uploadedFileInfo.Size;
            string type = uploadedFileInfo.Type;

            // The above information can be used to display, save  and / or process a file
        }
    }
}
